.hero-section {
  background-image: linear-gradient(0deg, #8fcb9b48, transparent),
    url("./assets/pxfuel.jpg");
  background-position: center;
  background-size: cover;
}
.hero-section-box {
  height: calc(100% - 12px);
}

.text-with-gradient {
  width: -moz-fit-content;
  width: fit-content;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--bg-secondary-color),
    var(--text-color)
  );
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
}

.project-card:hover {
  box-shadow: 0px 3px 12px 0px #8fcb9b;
  transform: scale(1) translateY(-10px) !important;
}

@media (prefers-reduced-motion: no-preference) {
  .scroll-reveal {
    opacity: 0.3;
    transform: scale(0.9) translateY(0);
    transition: all 0.5s ease !important;
    animation: scroll-reveal linear forwards;
    animation-timeline: view(y);
    animation-range-start: cover;
    animation-range-end: cover 50vh;
  }

  @keyframes scroll-reveal {
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  .text-scroll-reveal {
    color: var(--gray-text-color);
    background-image: linear-gradient(
      90deg,
      var(--text-color),
      var(--text-color)
    );
    background-size: 0% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text !important;
    background-clip: text;
    animation: text-scroll-reveal linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: cover 50vh;
  }

  @keyframes text-scroll-reveal {
    to {
      background-size: 100% 100%;
    }
  }
}

.typed-cursor {
  color: white;
  background-color: white;
  font-size: 1.8rem;
  line-height: 2.25rem;
}
