@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  line-height: 1.5;
  font-weight: 500;
  --body-color: #12130f;
  background-color: var(--body-color);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid white; */
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

/* ::-webkit-scrollbar {
  width: 12px;
} */
/* ::-webkit-scrollbar-thumb {
  background-color: #5b8279;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8fcb96;
}

::-webkit-scrollbar-track {
  background-color: inherit;
  border-radius: 6px;
} */
